body {
display : grid;
justify-content: center;
font-family: sans-serif;
}

.post {

display: flex;
align-items: center;
justify-content: space-around;
color: black;
font-family: sans-serif;
background-color: white;
margin: 20px;
padding: 20px;
border-radius: 25px;
border: solid 1px black;
transition: 0.5s;
}

.post:hover {
background-color: blue;
color:white;
transition: 1s;}

.header {
color:black;
font-size: 3em;
font-family: sans-serif;
padding: 40px;
margin: 40px;
overflow: hidden;

}


.top_nav {

justify-content: center;
display: inline-flex;
align-items; center;
margin: 30px;


}

ul {
    display: inline-flex;
    list-style: none;
    justify-content: center;
    margin: 0px;
    padding: 0;
    }

li a{
border: solid 0.50px black;
border-radius: 25px;
text-decoration: none;
padding: 10px 30px;
margin: 20px;
color: black;
font-size: 1em;
}

li a:hover{
font-size: 1.5em;
overflow:hidden;
color: white;
background-color:black;
transition: 0.6s;

}

.post_details  {
    display: grid;
    height: 100vh;
    align-items: center;
    grid-template-columns: 400px 300px;
    line-height: 25px;
}

.button {

    border: solid 0px black;
    border-radius: 25px;
    background-color: transparent;
    transition: 0.5s;
    padding: 10px 20px;
    color: white;
}

.button:hover {
background-color: white;
color: black;
font-size: 16px;
transition: 0.5s;
cursor: pointer;
}

.submit-button{

   border: solid 1px black;
    border-radius: 25px;
    background-color: white;
    transition: 0.5s;
    padding: 5px 20px;
    margin: 20px;
}

.submit-button:hover {
background-color: black;
color: white;
font-size: 16px;
transition: 0.5s;
cursor: pointer;
}