<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uh OH nothing found 404</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>THERES NOTHING HERE! except this big ass 404</h1>
<h3>We tried to find something, we really did, but as you can see this place is emptier than the DMs of a grandparent</h3>
<h2>But yeah never has this amount of nothing ever been present, you would think there would be something but no</h2>
<p>If nothing can be something and something can be nothing, does that would mean that anything can be anything.
Using that logic you can turn this nothing this waste of time to try get something, what that something is. I will leave you with this final thought
    what is something, what is nothing, what is anything.
</p>

</body>
</html>