<html>
<head>
    <title>Add post</title>
</head>
<body>
    <h1>Want a greeting?</h1>
    <form method="POST" action="/add">
    <label for="author">who is the author? : </label><br>
    <input type="text" id="author" name="author"><br>
    <label for="title">What is the title for this post? : </label><br>
    <input type="text" id="title" name="title"><br>
    <label for="content">What is the content for this post? : </label><br>
    <input type="text" id="content" name="content"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>